header{
    margin: 100px;
}
nav {
    background-color:#cfdff5ee ;
    width: 100px;
    height: 500px;
    float: left;
    position: sticky;
}
section{
    margin-left:130px;
}
article{
    margin: 100px;
}
/* 프로필 이미지 오른쪽 */
.profile-image {
    float: right; /* 오른쪽으로 치우치도록 설정 */
    margin-right: 0px; /* 이미지 오른쪽 여백 추가 */
    max-width: 50%; /* 이미지의 최대 너비를 지정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
}
 /* 검색창 스타일 */
 .search-container {
    float: right;
    padding: 14px 20px;
    margin-top: 0px; /* 이미지와의 간격 조정 */
}
.img1{
    max-width: 400px;
    height: auto;
}
.down-buttons {
    display: flex;
    justify-content: center;
}
