body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 40px;
    width: 140px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-links img {
    height: 20px;
    vertical-align: middle;
}

.container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-top: 100px; /* Adjust as needed to avoid overlap with navbar */
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

button {
    background-color: #959595;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    width: 217px;
    height: 53px;
    font-size: 20px;
    margin-top: 30px;
}

button:hover {
    background-color: #737373;
}