body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 40px;
    width: 140px;
    margin-right:100px;
}


.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-links img {
    height: 20px;
    vertical-align: middle;
}

.banner {
    width: 100%;
    height: 400px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.banner-arrow {
    color: white;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-arrow.left {
    left: 10px;
}

.banner-arrow.right {
    right: 10px;
}

.banner-content {
    text-align: center;
    font-size: 18px;
    color: black;
}

.banner-indicators {
    margin-top: 10px;
}

.indicator {
    color: white;
    font-size: 18px;
    margin: 0 3px;
}
