body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 40px;
    width: 140px;
    margin-right: 100px;
    margin-left: -200px;
}

.navbar-links {
    margin-right: -200px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-links img {
    height: 20px;
    vertical-align: middle;
}

.container {
    width: 748px;
    height: 649px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px;
}

.container h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 535px;
    height: 62px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #E2E2E2;
}

button:hover {
    background-color: #bbb;
}

button.verification {
    margin-bottom: 20px;
    width: 222px;
    height: 53px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #c0c0c0;
    border-radius: 10px;
    font-size: 25px;
}

button.complete {
    background-color: #959595;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    width: 139px;
    height: 53px;
    margin-right: -450px;
    font-size: 25px;
    margin-top: 30px;
}

button.complete:hover {
    background-color: #737373;
    color: #FFFFFF;
}